---

ansistrano_deploy_to: '/var/www/staging.example.com' # Base path to deploy to.
ansistrano_git_branch: 'develop' # Git branch to deploy from

fuel_deployment_user: root
fuel_remote_url: staging.example.com

fuel_basicauth_user: ''
fuel_basicauth_password: ''

fuel_cache_busting_urls: [
  'https://test.example.ch',
  'https://test.two.example.ch',
]
