---

fuel_shared_files: ['.env']
fuel_shared_dirs: ['web/.well-known', 'web/app/uploads', 'web/app/cache']

fuel_build_theme: false
fuel_theme_name: 'sage'

fuel_clear_cache: false
fuel_sync_acf: false

fuel_slack_channel: ''
fuel_slack_token: ''

ansistrano_git_repo: 'git@git.example.com:xxx/xxx.git'
ansistrano_shared_paths: ['web/.well-known', 'web/app/uploads', 'web/app/cache', '.env']
